# https://shivamarora.medium.com/a-guide-to-manage-your-environment-variables-in-a-better-way-using-direnv-2c1cd475c8e
source ./manifest

# source activate
source "/home/${USER}/anaconda3/etc/profile.d/conda.sh"
conda activate "${PYTHON_ENV_NAME}"
echo "Current environment: "
conda info --envs | grep "*"
